
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Proje Listesi</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                               
                                <th> Proje Adı </th>
                                <th> Url </th>
                                <th> Fiyat </th>
                                <th> Tamamlanma Oranı </th>
                                <th> Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            
                                <tr>
                                    <td>Online Ticari otomasyon  </td>
                                    <td> www.projectdemolar.com </td>
                                    <td>$1800 USD </td>
                                    <td>100</td>
                                   
                                    <td>
                                        <div class="badge badge-outline-success">Approved</div>
                                    </td>
                                </tr>
                            
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
